.coupon-heading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #1A1C21;
    margin-left: 1%;
  }